.sidebar{
  width: 20vw;
  max-width: 70px;
  height: 100vh;

  background: var(--color-secundary-dark);

  display: flex;
  flex-direction: column;
  justify-content: space-around;

  position: sticky;
  top: 0;
}

.menu-button{

  height: 90px;

  display: flex;
  justify-content: center;
  align-items: center;

  color: white;

}

.sidebar .menu-itens{

  height: 500px;

  display: flex;
  justify-content: flex-start;
  flex-direction: column;

  margin: 0 auto;
}

.active{
  background: var(--color-primary-dark)!important;
}

.sidebar .menu-itens .item{
  width: 42px;
  height: 42px;

  margin-bottom: 12px;

  background-color: var(--color-secundary-light);
  color: #fff;

  border: 1px solid #000;
  border-radius: 8px;

  filter: drop-shadow(0px 4px 0px rgba(0, 0, 0, 0.6)); 
}

.sidebar .menu-itens button span{
  font-family: Quicksand;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}