::-webkit-calendar-picker-indicator,
::-webkit-inner-spin-button{
  cursor: pointer;
}

input[type="date"]:before {
    content: attr(placeholder) !important;
    color: #aaa;
    margin-right: 0.5em;
}
input[type="date"]:focus:before {
  content: "";
}

input[type="time"]:before {
    content: attr(placeholder) !important;
    color: #aaa;
    margin-right: 0.5em;
}
input[type="time"]:focus:before,
input[type="time"]:valid:before {
  content: "";
}

.landing{
  width: 85vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  margin-left: 70px;

}

.title-bar{
  display: flex;
  justify-content: center;
  
  width: 90%;
  max-width: 1440px;

  padding-left: 2rem;
  padding-top: 5rem;
  padding-bottom: 2rem;

}
.title-bar .title span span{
  font-family: Quicksand;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;

  color: #afafaf;
}
.title-bar .title{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title-bar .title span{
  font-family: Quicksand;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;

  color: #000;
}
.title-bar .title a{
  height: 95%;
  color: #000;
  display: flex;
  align-items: flex-end;
  padding-bottom: 1rem;
  cursor: default;
}
.title-bar .title a svg{
  cursor: pointer;
}

.create_task{
  width: 70%;
  max-width: 600px;

  display: flex;
  flex-direction: column;
  
  margin-left: 15px;
  margin-bottom: 15px;
  padding: 8px;

  border-radius: 8px;
  border: 1px solid var(--color-border);
  box-shadow: 0 4px 5px rgba(0,0,0,.3);

  z-index: 100;
}

/* .create_task_modal{
  width: 70% !important;
  max-width: 600px;
  height: 100px;

  position: fixed;

  background-color: white;

  border-radius: 8px;
  border: 1px solid var(--color-border);

  box-shadow: 0 4px 5px rgba(0,0,0,.3);

  display: flex;
  justify-content: flex-start;

  top: 175px;
} */

/* .create_task_modal textarea{
  width: 100%;
  height: 80px;

  border: none;
  resize: none;

  font-weight: bold;

  padding: 1.2rem 1.6rem;

} */

.create_task input{
  width: 100%;
  max-width: 600px;
  height: 30px;

  padding-left: 1rem;

  border: none;
  border-radius: 8px;

  font-weight: bold;
  
  outline: none;
}

.create_task input[type=date]{
  max-width: 200px;
  background: none;
  color: var(--color-text-base);
  border: 2px solid var(--color-border);
  margin-top: 6px;
  margin-right: 8px;
}

.create_task input[type=time]{
  margin-top: 6px;
  width: 100%;
  max-width: 170px;
  background: none;
  color: var(--color-text-base);
  border: 2px solid var(--color-border);
}

.task_buttons{
  margin-top: 8px;
  display: flex;
  justify-content: flex-end;
}
.task_buttons button{
  width: 80px;
  height: 30px;
  border: none;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
}
.task_buttons .task_created{
  margin-right: 8px;
  background: var(--color-green);
}
.task_buttons .close_button{
  background: #FF6347;
}

.create_task_backdrop{
  position: fixed;
  width: 86vw;
  height: 100vh;
  background: none;
  z-index: 0;
}

.task-area{
  margin-top: 15px;
  height: 100%;
  column-count: 4;
  column-gap: 5px;
}

@media (min-width: 465px){
  .title-bar .title{
    width: 90%;
  }
}
