.task-box{
  position: relative;
  width: 100%;

  display: flex;
  justify-content: center;

  background: #fff;

  flex-direction: column;

  border: 2px solid #CCCCCC;
  border-radius: 8px;
  
  margin-bottom: 12px;

  padding: 15px;

  cursor: default;

  break-inside: avoid;
}

.task_modal{
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 100px;

  padding: 0 auto;

  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.modal_task_backdrop{
  position: fixed;

  width: 100vw;
  height: 100vh;

  top: 0;
  left: 0;

  background: rgba(0, 0, 0, 0.253);

  z-index: 100;
}

.task-box span{
  font-family: Quicksand;
  font-size: 16px;
  line-height: 20px;

  color: var(--color-primary);
}

.task-name{
  display: flex;
  flex-direction: column;
}

.task-name span:first-child{
  margin-bottom: 8px;
  font-weight: 700;
}

.task-box input{
  border: none;
}

.task-box .task-date{
  display: flex;
  width: 90%;
  justify-content: space-between;

  margin-top: 20px;
}

.task-box .task-date span{
  font-family: Quicksand;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */
  color: var(--color-text-complement);
}

.task-box .task-date span:last-child{
  display: flex;
  justify-content: flex-end;
}
.task-checked{
  background: var(--color-primary);
}

.task-checked span{
  color: #FFF;
  text-decoration: line-through;
}
.task-checked .task-date span{
  font-family: Quicksand;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */
  color: #C0C0C0;
}

.task-box .task-box-header{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.task_button{
  position: absolute;
  top: -10px;
  right: -10px;
  width: 25px;
  height: 25px;
  border-radius: 50px;
  border: none;
}